.banner .btn, .banner .dot {
  -webkit-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
  -moz-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
  -ms-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
  -o-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
  filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
}

.banner .dots {
  position: absolute;
  left: 10px;
  right: 0;
  bottom: 20px;
}
.banner .dots li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 4px;

  text-indent: -999em;

  border: 2px solid #fff;
  border-radius: 6px;

  cursor: pointer;
  opacity: .4;

  -webkit-transition: background .5s, opacity .5s;
  -moz-transition: background .5s, opacity .5s;
  transition: background .5s, opacity .5s;
}
.banner .dots li.active {
  background: #fff;
  opacity: 1;
}
.slider-arrow {
  position: absolute;
  top: 50%;
  background: #cf0f32;
  width: 45px;
  height: 80px;
  z-index: 5;
  cursor: pointer;
}
.slider-arrow i {
  position: absolute;
  width: 8px;
  height: 13px;
  left: 50%;
  top: 50%;
  margin-left: -4px;
  margin-top: -7px;
}
.slider-arrow.prev {
  left: 0;
}
.slider-arrow.prev i {
  background: url("../images/prev_arrow.png?__inline") no-repeat;
}
.slider-arrow.next {
  right: 0;
}
.slider-arrow.next i {
  background: url("../images/next_arrow.png?__inline") no-repeat;
}